##############################
# API CONFIGURATION
##############################

BASE_URL=https://your-api.com

##############################
# LOGIN
##############################

USE_LOGIN=false

LOGIN_ENDPOINT=/auth/login

USERNAME=

PASSWORD=

##############################
# TOKEN
##############################

TOKEN=

##############################
# LOAD TEST
##############################

VU=50

DURATION=1m